{% extends 'commerce/plantilla.html' %}
{% load static %}

{% block contenido %}
    <br><br><br>
    <div class="container"><br>
      <table id="example" class="table table-striped table-bordered usuarios" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fecha de Reserva</th>
                <th>Cuenta Dinero Movil</th>
                <th>Cliente</th>
                <th>Mensaje</th>
                <th>Tarifa</th>
                <th>Estado</th>
            </tr>
            {% for item in lista %}
            <tr> 
                <td>{{ item.res_fecha }}</td>
                <td>{{ item.res_cuentadm }}</td>
                <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ item.cliente_cli }}">
                    {{ item.cliente_cli.cli_appaterno }}
                </button></td>
                <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#miMensaje">
                    {{ item.mensaje_men.men_nombre }}
                </button></td>
                <td>{{ item.tarifa_tar.tar_nombre }}</td>
                <td>{{ item.estado_est.est_nombre }}</td>

            </tr>
            {% endfor %}
        </thead>
      </table>
    </div>

    <!-- Modal Cliente-->
    <div class="modal fade" id="miLista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">DATOS DEL CLIENTE</h4>
            </div>
        
          <div class="modal-body">
            <div class="container">
                <table class="table table-striped table-bordered usuarios" cellspacing="0" width="100%">
                  <thead>
                    <tr> 
                        <td>DNI: {{ item.cliente_cli.cli_dni }}</td>
                    </tr>
                    <tr> 
                        <td>{{ item.cliente_cli.cli_nombres }}</td>
                    </tr>  
                    <tr> 
                        <td>{{ item.cliente_cli.cli_appaterno }}</td>
                    </tr>  
                    <tr> 
                        <td>{{ item.cliente_cli.cli_apmaterno }}</td>
                    </tr>  
                    <tr> 
                        <td>{{ item.cliente_cli.cli_direcion }}</td>
                    </tr>    
                    <tr> 
                        <td>{{ item.cliente_cli.cli_celular }}</td>
                    </tr> 
                    <tr> 
                        <td>{{ item.cliente_cli.cli_email }}</td>
                    </tr> 
                  </thead>
                </table>
            </div>
          </div>
        </div>
     </div>
    </div>
{% endblock %}
